/*HEAD START*/
#head {
margin: 0 auto;
width: 800px;
border-bottom: 1px double;
}
a {
text-decoration: none;
color: black;
}
#head td{
font-family: Segoe UI;
font-weight: lighter;
text-decoration: none;

}

#head .titles {

font-family: Segoe UI;
font-weight: lighter;

}
#head .headlink {
font-family: Segoe UI;
font-weight: lighter;
text-decoration: none;

}
#head .headlink:hover {

background-color: #CCC;

}
#head .brd {
border: 1px double white;
padding: 3px 3px 3px 3px;
}
#head .brd:hover {
background-color: #ABE8FF;
border: 1px double #E4E4E4;
padding: 3px 3px 3px 3px;
}
#head .login{
margin-left: 110px;
float: right;
position: absolute;
}
#head .log{
background: url(../img/login.png) no-repeat;
border: none;
width: 45px;
height: 25px;
//cursor: pointer;
}
#head .log:hover {
background: url(../img/login.png) no-repeat 0 -35px;
cursor: pointer;
}
#top {
margin: 0 auto;
width: 800px;
padding-top: 10px;
}
/*HEAD END*/

/*CONTENT START*/
#content {
margin: 0 auto;
width: 800px;
height: auto;
background: #FCFCFC;
}
#content .title{
font-family: Segoe UI;
font-weight: lighter;
font-size: 30px;
text-decoration: none;
padding-top: 25px;
}
#content .text{
font-family: Segoe UI;
font-weight: lighter;
font-size: 16px;
text-decoration: none;
line-height: 15px;
padding: 0 52px 20px 52px;
border-bottom: 1px double #D8D8D8;
}
#content .data{
font-family: Segoe UI;
font-weight: lighter;
font-size: 12px;
text-decoration: none;
padding: 0px 52px 0 52px;
color: gray;
float: right;
}
#content .sep{
float: left;
padding: 27px 0 0 10px;
}
/*CONTENT END*/
/*FOOTER START*/
#footer {
margin: 0 auto;
width: 800px;
height: 33px;
border-top: 1px double;
}
/*FOOTER END*/
